/* Reset and Base Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'OSTF';
    src: url('./OSTF_Ac437Trident8x11.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

body {
    font-family: 'Courier New', Courier, monospace;
    background-image: url('arch_anime.jpg');
    color: #00ff00;
    padding: 20px;
}

/* START Terminal container styles */
.terminal-container {
    max-width: 1200px;
    margin: 0 auto;
    border: 2px solid #1793d1;
    border-radius: 8px;
    box-shadow: 0 0 30px rgba(23, 147, 209, 0.5);
    overflow: hidden;
}
/* START Terminal header styles */
.terminal-header {
    display: flex;
    align-items: center;
    padding: 8px 12px;
    background: linear-gradient(to bottom, #2d2d2d, #1a1a1a);
    border-bottom: 2px solid #1793d1;
}

/* START Terminal button styles */
.terminal-buttons {
    display: flex;
    gap: 8px;
    margin: 16px;
}

.terminal-buttons button {
    width: 12px;
    height: 12px;
    border: none;
    border-radius: 50%;
    display: inline-block;
}
.terminal-buttons button:hover {
    filter: brightness(85%);
    box-shadow: 0 0 10px rgba(23, 147, 209, 0.9);
}

/* START Individual button colors */
.btn-close {
    background-color: #ff5f56;
}
.btn-minimize {
    background-color: #ffbd2e;
}
.btn-maximize {
    background-color: #27c93f;
}
/* END Individual button colors */
/* END Terminal button styles */

/* START Terminal title styles */
.terminal-title {
    font-family: 'Courier New', Courier, monospace;
    flex-grow: 1;
    text-align: center;
    color: #ffffff;
    font-size: 18px;
}
/* END Terminal title styles */
/* END Terminal header styles */

/* START Terminal body styles */
.terminal-body {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    font-family: 'OSTF', Courier, monospace;
    font-size: 18px;
    line-height: 1.5;
    min-height: 400px;
    color: #00ff00;
    overflow-y: auto;
    backdrop-filter: blur(15px);
}


/* START Individual Directory Item styles */
.dir-button {
    background-color: transparent;
    color: #1793d1;
    text-decoration: none;
    margin-right: 15px;
    border: 1px solid #1793d1;
    padding: 2px 6px;
    border-radius: 4px;
}

.dir-button:hover {
    background-color: #1793d1;
    color: pink;
    font-weight: bold;
    border-color: pink;
    box-shadow: 0 0 10px rgba(23, 147, 209, 0.9);
    transform: scale(1.2);
}

.dir-button.active {
    background-color: #1793d1;
    color: #0d1117;
    box-shadow: 0 0 20px rgba(23, 147, 209, 0.8),
                inset 0 0 10px rgba(255, 255, 255, 0.2);
    text-shadow: none;
    font-weight: bold;
}
/* END Individual Directory Item styles */

/* END Terminal body styles */
/* END Terminal Container styles */