/* Reset and Base Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'OSTF';
    src: url('./OSTF_Ac437Trident8x11.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

body {
    font-family: 'Courier New', Courier, monospace;
    background-image: url('arch_anime.jpg');
    color: #00ff00;
    padding: 20px;
}

/* START Terminal container styles */
.terminal-container {
    max-width: 1200px;
    margin: 0 auto;
    border: 2px solid #1793d1;
    border-radius: 8px;
    box-shadow: 0 0 30px rgba(23, 147, 209, 0.5);
    overflow: hidden;
}
/* START Terminal header styles */
.terminal-header {
    display: flex;
    align-items: center;
    padding: 8px 12px;
    background: linear-gradient(to bottom, #2d2d2d, #1a1a1a);
    border-bottom: 2px solid #1793d1;
    position: relative;
}

/* START Terminal button styles */
.terminal-buttons {
    display: flex;
    gap: 8px;
    margin: 16px;
}

.terminal-buttons button {
    width: 12px;
    height: 12px;
    border: none;
    border-radius: 50%;
    display: inline-block;
}
.terminal-buttons button:hover {
    filter: brightness(85%);
    box-shadow: 0 0 10px rgba(23, 147, 209, 0.9);
}

/* START Individual button colors */
.btn-close {
    background-color: #ff5f56;
}
.btn-minimize {
    background-color: #ffbd2e;
}
.btn-maximize {
    background-color: #27c93f;
}
/* END Individual button colors */
/* END Terminal button styles */

/* START Terminal title styles */
.terminal-title {
    font-family: 'Courier New', Courier, monospace;
    color: #ffffff;
    font-size: 18px;

    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    pointer-events: none;
}
/* END Terminal title styles */
/* END Terminal header styles */

/* START Terminal body styles */
.terminal-body {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    font-size: 18px;
    line-height: 1.5;
    min-height: 0;
    color: #00ff00;
    overflow-y: auto;
    backdrop-filter: blur(15px);
}


/* START Individual Directory Item styles */
.dir-button {
    background-color: transparent;
    color: #1793d1;
    font-size: 18px;
    text-decoration: none;
    margin-right: 15px;
    border: 1px solid #1793d1;
    padding: 2px 6px;
    border-radius: 4px;
}

.dir-button:hover {
    background-color: #1793d1;
    color: pink;
    border-color: pink;
    box-shadow: 0 0 10px pink; /*rgba(23, 147, 209, 0.9);*/
    transform: translateY(-2px);
}

.dir-button.active {
    background-color: #1793d1;
    color: #0d1117;
    box-shadow: 0 0 20px rgba(23, 147, 209, 0.8),
                inset 0 0 10px rgba(255, 255, 255, 0.2);
    text-shadow: none;
    font-weight: bold;
}
/* END Individual Directory Item styles */

/* START Prompt styles */
.prompt-line {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 10px;
}

.prompt-context {
    background-color: #ff69b4;
    padding: 4px 8px 4px 12px;
    position: relative;
    display: flex;
    align-items: center;
    margin-right: 10px;
    height: 20px;

    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.prompt-context::after {
    content: '';
    position: absolute;
    top: 0;
    left: 100%;
    width: 0;
    height: 0;

    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid #ff69b4;
    z-index: 1;
}

.prompt-context .user {
    color: #006400;
    font-weight: bold;
}
.prompt-context .at {
    color: white;
    font-weight: normal;
    margin: 0;
}
.prompt-context .host {
    color: #8b0000;
    font-weight: bold;
}
.prompt-context .pwd {
    color: blue;
    font-weight: bold;
}

.cmd {
    font-family: 'OSTF';
    color: #00ff00;
    font-size: 18px;
    align-self: center;
}
/* END Prompty styles */

/* START Terminal Section styles */
.terminal-section {
    display: none;
}

.terminal-section.active {
    display: block;
    animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(10px); }
    to { opacity: 1; transform: translate(0); }
}
/* END Terminal Section styles */

/* START Terminal input styles */
.terminal-input {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(15px);
    color: #00ff00;
    font-size: 16px;
    cursor: text;
}

#ghost-input {
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    height: 0;
    width: 0;
}

/* The Blinking Block Cursor */
.cursor {
    display: inline-block;
    background-color: #00ff00;
    color: #000; /* Text inside cursor usually inverse */
    animation: blink 1s step-end infinite;
    vertical-align: bottom;
    width: 10px; /* Width of the block */
    height: 1.2em;
}

@keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
}
/* END Terminal input styles */
/* END Terminal body styles */
/* END Terminal Container styles */
